body{
    background: rgb(38, 69, 245);
    font: normal 18pt times;

}
header{
    color: white;
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgb(37, 34, 34);
}
div{
    text-align: center;
    padding: 8px;
}
p{
    text-align: center;
    font: large 18pt times;
    color: white;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}